
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>Column Chart</h2>
<img src="@Url.Action("CharterColumn")" alt="Chart"/>
<hr/>

<h2>Bar Chart</h2>
<img src="@Url.Action("ChartBar")" alt="Chart"/>
<hr/>

<h2>Pie Chart</h2>
<img src="@Url.Action("ChartPie")" alt="Chart" />
<hr/>

<h2>Three Line Chart</h2>
<img src="@Url.Action("ChartThreeLineBreak")" alt="Chart" />
<hr/>

<h2>Bubble Chart</h2>
<img src="@Url.Action("ChartBubble")" alt="Chart" />
<hr/>

<h2>Doughnut Chart</h2>
<img src="@Url.Action("DoughnutChart")" alt="Chart" />
<hr/>

<h2>Stacked Bar Chart</h2>
<img src="@Url.Action("StackedBar100")" alt="Chart" />
<hr/>

<h2>Box Plot Chart</h2>
<img src="@Url.Action("BoxPlotChart")" alt="Chart" />
<hr/>

<h2>Pyramid Chart</h2>
<img src="@Url.Action("PyramidChart")" alt="Chart" />
<hr/>

<h2>Polar Chart</h2>
<img src="@Url.Action("PolarChart")" alt="Chart" />
<hr/>

<h2>Radar Chart</h2>
<img src="@Url.Action("RadarChart")" alt="Chart" />
<hr/>

<h2>Range Bar Chart</h2>
<img src="@Url.Action("RangeBarChart")" alt="Chart" />
<hr/>

<h2>Funnel Chart</h2>
<img src="@Url.Action("FunnelChart")" alt="Chart" />
<hr />